# Django
Django

# Django REST Framework e extensões
djangorestframework
...

# Banco de Dados (MySQL)
mysqlclient

# Utilitários
python-decouple
django-cors-headers
django-localflavor
Pillow
python-dotenv  